<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br/> <hr/>
<app-example></app-example>
<h2>Expressions</h2>
{{ city ? city : 'no city' }}
<br/>
{{ displayFname() }}
<br/>

<label for="status">Active</label>
<input type="radio" id="status" [checked]='status'>
<br/>
<button (click)="greet()">Bind_Click </button>
<br/><br/>
<input type="text" name="name" id="name" (keydown)="keyDown()">
<br/>
<div id="box1" style="height:120px;width:100px;" (mouseover)="mousingOver()"></div>


<br/><hr/>
<input type="text" name="" id="" [(ngModel)]="lname">
{{lname}}

<hr/>
<h1 *ngIf="status;else notActive">{{fname}}</h1>
<ng-template #notActive>
  <div>not active</div>
</ng-template>

<ul [ngClass]="{isActive: val === true}">
  <li *ngFor="let item of posts">{{item.title}}</li>
</ul>

<ul [ngStyle]="{ color: status? 'green' : 'red' }">
    <li *ngFor="let item of posts; let i = index" >{{i}} {{item.title}}</li>
  </ul>

<hr/>


<form (ngSubmit)="onSubmit(formref)" #formref="ngForm">
    <div class="form-group">
      <label for="uname">UserName</label>
      <input type="text" ngModel id="uname" name="uname" placeholder="Enter user" class="form-control">
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" ngModel id="pwd" name="pwd" placeholder="Enter pwd" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>
